In [8]:
import pandas as pd

path_database = "/content/Project Business Analytics- Conversion Rate Optimization - KAG_conversion_data.csv.csv"
df = pd.read_csv(path_database)

In [9]:
df.head (10)

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion,CTR,CPC,CPM
0,708746,916,103916,30-34,M,15,7350,1,1.43,2,1,0.000136,1.43,0.000195
1,708749,916,103917,30-34,M,16,17861,2,1.82,2,0,0.000112,0.91,0.000102
2,708771,916,103920,30-34,M,20,693,0,0.00,1,0,0.000000,#DIV/0!,0.000000
3,708815,916,103928,30-34,M,28,4259,1,1.25,1,0,0.000235,1.25,0.000293
4,708818,916,103928,30-34,M,28,4133,1,1.29,1,1,0.000242,1.29,0.000312
5,708820,916,103929,30-34,M,29,1915,0,0.00,1,1,0.000000,#DIV/0!,0.000000
6,708889,916,103940,30-34,M,15,15615,3,4.77,1,0,0.000192,1.59,0.000305
7,708895,916,103941,30-34,M,16,10951,1,1.27,1,1,0.000091,1.27,0.000116
8,708953,916,103951,30-34,M,27,2355,1,1.50,1,0,0.000425,1.50,0.000637
9,708958,916,103952,30-34,M,28,9502,3,3.16,1,0,0.000316,1.05,0.000333

In [11]:
df.isna().sum()

ad_id                  0
xyz_campaign_id        0
fb_campaign_id         0
age                    0
gender                 0
interest               0
Impressions            0
Clicks                 0
Spent                  0
Total_Conversion       0
Approved_Conversion    0
CTR                    0
CPC                    0
CPM                    0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   xyz_campaign_id      1143 non-null   int64
 2   fb_campaign_id       1143 non-null   int64
 3   age                  1143 non-null   object
 4   gender               1143 non-null   object
 5   interest             1143 non-null   int64
 6   Impressions          1143 non-null   int64
 7   Clicks               1143 non-null   int64
 8   Spent                1143 non-null   float64
 9   Total_Conversion     1143 non-null   int64
 10  Approved_Conversion  1143 non-null   int64
 11  CTR                  1143 non-null   float64
 12  CPC                  1143 non-null   object
 13  CPM                  1143 non-null   float64
dtypes: float64(3), int64(8), object(3)
memory usage: 125.1+ KB